/node_modules
/public/css
/public/js
/public/hot
/public/mix-manifest.json
/public/storage
/public/color.less
/storage/*.key
/resources/js/AntD/*.json
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
