.navLogo {
    float: left;
    padding: 0 15px;
}
.navLogo span {
    font-weight: 700;
    font-size: large;
    color: white;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {
        color: red;
    }
    25% {
        color: yellow;
    }
    50% {
        color: blue;
    }
    75% {
        color: green;
    }
    100% {
        color: red;
    }
}
.whitebg {
    background: #fff !important;
}
.menuCon {
    width: 100%;
    float: left;
}

.menuCon .ant-menu-item {
    padding: 0px 5px;
}

.menuCon .ant-menu-submenu-title {
    padding: 10px 20px;
}

.menuCon .ant-menu-item a,
.menuCon .ant-menu-submenu-title a {
    padding: 10px 15px;
}

.menuCon .ant-menu-horizontal {
    border-bottom: none;
}

.barsMenu {
    float: right;
    height: 32px;
    padding: 6px;
    margin-top: 15px;
    margin-right: 0px;
    display: none;
    background: none;
}

.barsBtn {
    display: block;
    width: 20px;
    height: 2px;
    background: #ffffff;
    position: relative;
}

.barsBtn:after,
.barsBtn:before {
    content: attr(x);
    width: 20px;
    position: absolute;
    top: -6px;
    left: 0;
    height: 2px;
    background: #ffffff;
}

.barsBtn:after {
    top: auto;
    bottom: -6px;
}

.ant-drawer-body {
    padding: 0;
}

.barsMenu > span {
    display: block;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
    display: inline-block;
    width: 100%;
}

.ant-drawer-body .ant-menu-horizontal {
    border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
    border-bottom-color: transparent;
}

@media (max-width: 767px) {
    .barsMenu {
        display: inline-block;
    }

    .menu {
        display: none;
    }

    .menuCon .ant-menu-item,
    .menuCon .ant-menu-submenu-title {
        padding: 1px 20px;
    }
}
